@font-face{font-family: Lato; src: url(../fonts/lato.woff);}

/*========= RESET =========*/
html{margin: 0; padding: 0; font-size:100%; outline: none; box-sizing: border-box; font-family: 'Lato';}

/* ======= CABEÇALHO ========== */
.cabecalho{width: 100%; position: fixed; z-index: 100000; background: #fff; top:0;}

.logo{margin: 10% 0 0 5%;}

/* ====== MENU ======= border-bottom: 1px solid rgb(255, 102, 0); */
.btn-menu{float: right; margin: 50% 20% 0 0; cursor: pointer; font-size: 2em; }
.menu{font-size: 2em; display: none; text-align: left; width: 100%; height: 900px; 
    margin-top: 30%;  position: absolute; background: #fff;}
.menu ul li{margin: 10% 20%;}
.menu ul li a{color: #aaa;}
.menu ul li a:hover{color: rgb(253, 119, 29);}

/* BANNER */
.home{height: 500px; width: 100%;}
.home .banner{z-index: 9000; width: 110%; position: absolute; margin-top: 45%; margin-left: -10%;}
.home .slider{position: absolute; overflow: hidden; width: 90%; top: 150px;}
.home .slider figure{width: 300%; left: 0; animation: 20s sliding infinite; position: relative;}
.home .slider figure .slide{width: 20%; float: left;}
.home .slider img{ width: 100%; float: left;}
/* .home .vermais i{font-size: 4em; color: rgb(253, 119, 29); margin-top: 130%; cursor: pointer;}    */

/* Sociais */
.footer p{font-size: 1.3em;}
.contato{border-bottom: 3px solid rgb(255, 102, 0); font-size: 1.5em; font-weight: 400; color: rgb(253, 119, 29);}
.contato:hover{border-bottom: dashed; transition: 0.5s;}
.social{margin-top: 15px; }
.social a{color: #000; font-size: 2em; margin-right: 40px;}
.social a:hover{color:rgb(255, 102, 0); transition: 0.3s;}

@keyframes sliding{
    0%{left: 10%;}
    25%{left: -50%;}
    50%{left: -110%;}
    75%{left: 10%;}
    100%{left: 10%;}
}

/*=============== PÁGINA CONTATO ==================*/
.contato-form form{margin-top: 35%; margin-bottom: 15%;}
.contato-form .btn{background-color: rgb(253, 119, 29);}
.contato-form .input-field input[type=text]:focus + label { color: rgb(253, 119, 29); }
.contato-form .input-field input[type=text]:focus { border-bottom: 1px solid rgb(253, 119, 29); box-shadow: 0 1px 0 0 rgb(253, 119, 29); }
.contato-form .input-field input[type=text].valid { border-bottom: 1px solid rgb(253, 119, 29); box-shadow: 0 1px 0 0 rgb(253, 119, 29); }
.contato-form .input-field input[type=text].invalid { border-bottom: 1px solid rgb(253, 119, 29); box-shadow: 0 1px 0 0 rgb(253, 119, 29); }
.contato-form .input-field .prefix.active { color: rgb(253, 119, 29); }

/*=============== PÁGINA PORTFÓLIO ==================*/
.pnl-portf{margin-top: 35%;}

/*=============== PÁGINA LOGIN ==================*/
.login form{margin-top: 5%;}
.login .logo-login{margin-top: 10%; width: 200px;}

/*=============== PÁGINA QUEM SOU EU ==================*/
.apresentacao{margin-top: 30%; }
.apresentacao img{margin-top: 10%;}
.jonatas{width: 150px;}
.link{color: rgb(253, 119, 29);}
.link:hover{border-bottom: 1px dashed rgb(253, 119, 29);}

/*=============== PÁGINA Dashboard ==================*/
.card .alt-cmd{margin-top: 40%;}
.card .alt-cmd button{margin-bottom: 5%;}


/* ===================================== FIM MOBILE FIRST ========================================== */

@media screen and (min-width: 480px){
    .btn-menu{margin: 30% 20% 0 0; }
    .logo{margin: 5% 0 0 5%;}
    .home .banner{ margin-top: 13%;}

    /*=============== PÁGINA CONTATO ==================*/
    .contato-form form{margin-top: 20%;}
}

@media screen and (min-width: 620px){
    .btn-menu{margin: 20% 10% 0 0; }
    .logo{margin: 5% 0 0 5%;}
    #mais{margin-top: 20%;}
    .menu{margin-top: 15%;}
    @keyframes sliding{
        0%{left: 15%;}
        25%{left: -45%;}
        50%{left: -105%;}
        75%{left: 15%;}
        100%{left: 15%;}
    }

    /*=============== PÁGINA PORTFÓLIO ==================*/
    .pnl-portf{margin-top: 20%;}
}

@media screen and (min-width: 768px){
    .btn-menu{margin: 20% 10% 0 0; }
    .logo{margin: 5% 0 0 5%;}
    .social a{font-size: 1.4em;}
    .social{margin-left: 30%;}
    .home .banner{ margin-top: 15%;}

    /*=============== PÁGINA PORTFÓLIO ==================*/
    .pnl-portf{margin-top: 13%;}
}

@media screen and (min-width: 972px){
    .btn-menu{ margin: 5% 10% 0 0; }
    #mais{margin-top: 20%;}
    .home .slider{ width: 90%;}
}

@media screen and (min-width: 1024px){
    .btn-menu{ margin: 5% 10% 0 0; }
    .home .banner{ margin-top: 5%;}
    #mais{margin-top: 30%;}
    .menu{margin-top: 10%;}
    .menu ul li{margin: 5% 20%;}
}

 @media screen and (min-width: 1280px){
    .logo{  margin: 3% 0% 0% 10%; }
    .btn-menu{ margin: 3% 10% 0% 0%;}
    .menu{ margin-top: 7%;}
    .menu ul li{margin: 2% 10%;}
    .home{ height: 700px; width: 100%;}
    .home .slider{top: 13%; width: 80%;}
    .home .banner{margin-top: -2%;}
    .social{margin-left: 45%;}
    #mais{margin-top: 0%;}

    /*=============== PÁGINA CONTATO ==================*/
    .contato-form form{margin-top: 10%; margin-bottom: 5%;}

    /*=============== PÁGINA QUEM SOU EU ==================*/
    .apresentacao{margin-top: 15%; }
    .jonatas{width: 250px;}
    .sociais{margin-top: 10%;}
} 