@font-face{ 
    font-family: Lato;
    src: url(../fonts/lato.woff);
}
/* RESET */
* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;}
body{background-color: rgb(255, 255, 255); font-family: Lato, sans-serif;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}
::-webkit-input-placeholder { color: #fff; } 
    /* Firefox 18- */
    :-moz-placeholder { color: #fff; }
    /* Firefox 19+ */
    ::-moz-placeholder { color: #fff; }
 :-ms-input-placeholder { color: #fff; }

/*=========== CONTAINER ==========*/
.container {width: 100%; float: left; text-align: center;}

/* MENU  */
#clinica, #especialidades, #corpo-clinico, #noticias, #contatos{transition: .25s linear;}

.cabecalho{ position: fixed; top: 0; width:100%;  background: #fff; z-index: 10000;}
.logo{ width:240px; height: 120px; background: url("../res/logo.png") center center/200px no-repeat; float: left;}
.menu-principal{font-size: 1.5em;}
.menu-hidden{display:none; position: absolute; width: 100%; height: 700%; font-size: 1.5em; background: rgba(0, 117, 154, 0.9);
    top:100%; color: #fff; text-align: left;}
.menu-hidden div.item-menu{border-bottom: 1px solid #fff; margin: 2% 0%;}
.menu-hidden li{margin: 3% 0% 4% 10%; cursor: pointer}
.menu-hidden li a:hover{opacity: 0.7;}
.menu-hidden li a{color: #fff; margin-right: 5%; }
.menu-hidden .sociais{margin-top: 2%;}
.btn{padding: 1%; cursor: pointer;}
.btn-agenda, .btn-contato, .btn-open-menu
{ float: right; text-align: center; padding: 10% 2% 16% 2%;}
.btn-agenda{background-color: rgb(40, 171, 201); color: #fff;}
.btn-contato{ margin: 0px; background-color: rgb(0, 117, 154); color: #fff;}
.btn-open-menu{ background-color: rgb(255, 255, 255); color: rgb(40, 171, 201); }

/* BANNER */
.banner{margin-top: 5%; background: url("../res/banner.png") rgb(63, 142, 191) center center/1300px no-repeat; 
    max-width: 100%; height: 600px; }
.title{ text-align: left;}
.title h4, .title h1{color: #fff; margin-bottom: -15px;}
.title h4{font-size: 1.4em; margin-top: 50%;}
.title h1{font-size: 3.5em; font-weight: 500;}

/* CLINICA  border: 1px solid #000; */
.clinica{width:100%; background: url(../res/conheca-clinica.png) rgb(255, 255, 255) center no-repeat fixed; 
    text-align: center; margin-top: -35%;}
.clinica h4{font-size: 1.1em; margin-top: 5%;}
.clinica h1{font-size: 2em; font-weight: 600; color: rgb(63, 142, 191);}
.clinica p{margin-top: 4%}

/* SLIDE  */
.slider{overflow: hidden; height: auto;}
.slider figure{position: relative; top: 0; left: 0; transition: all 1.5s;}

.clinica .slider figure {width: 500%;}
.clinica .slider figure div{width: 20%; float: left;}
.clinica .slider figure div p{width: 50%; margin: auto;}
.clinica .slider figure img{margin-top: 10%;}
.controls{margin-top: 2%;}
input[name="lorem"]{display: none;}
.dots{width: 15px; height: 15px; border-radius: 100%; border: 1px solid rgb(63, 142, 191); margin: 5% 2%; 
    display: inline-flex; }

#lorem2:checked ~ figure{left: -100%;}
#lorem3:checked ~ figure{left: -200%;}
#lorem4:checked ~ figure{left: -300%;}

input[name="lorem"]:checked + .dots{background-color: rgb(0, 117, 154);}

/* GALERIA */
.galeria{background-color: #000; width: 100%; float: left;}

/* SLIDE GALERIA */
.pre, .nxt{ background-color: #fff; width: 50px; height: 50px; position: absolute;
     text-align: center; cursor: pointer; margin-top: 30%; z-index: 9998}
.galeria label{font-size: 2em; color: rgb(63, 142, 191); font-weight: bold;}
.pre{left: 5%;}
.nxt{right: 5%;}
.owl-prev, .owl-next{display: none;}

/* ESPECIALIDADES */
.especialidades{width: 100%; padding-bottom: 10%; background: url("../res/especialidades.png") rgb(36, 137, 169) center no-repeat fixed; color: #fff;}
.especialidades h4{font-size: 1.4em; margin-top: 10%}
.especialidades h1{font-size: 2.5em; margin-bottom: 10%;}
.especialidades .slider figure{ width: 700%; animation: 20s animacao infinite; }
.especialidades .slider figure label{margin-bottom: 5%; float: left; width: 100%;}
.especialidades .slider figure label img{width: 80px; height: 80px;}
.especialidades .slider figure label h4{margin: 5% 2%; float: left;}
.especialidades .slider figure .slide{ width: 20%; float: left;}
.especialidades .slider .slide h1{ font-size: 1.4em; font-weight: 600; margin-top: 5%;}
.especialidades .slider .slide .content{width: 60%; margin: auto;}
.especialidades .slider .slide p{ text-align: justify; margin-top:5%; }
.especialidades .slider .slide ul {margin-top: 5%; text-align: left;}
.content{margin: 5% 6%;}
.especialidades label img{margin-left: 30%; float: left; width: 20%;}
.especialidades .slider .linha{border: 1px solid rgb(0, 117, 154); width: 700%; position: absolute; margin-top: 90px;}

.especialidades label#esp3{margin-left: -10%;}
input[name="esp"]{display: none;}

@keyframes animacao{
    0%{left: -160%;}
    25%{left: -160%;}
    50%{left: -20%;}
    55%{left: -20%;}
    60%{left: -20%;}
    75%{left: -300%;}
    80%{left: -300%;}
    90%{left: -300%;}
    100%{left: -160%;}
}

/* CORPO CLINICO */
.corpo-clinico h4{font-size: 1.4em; margin-top: 10%}
.corpo-clinico h1{font-size: 2.5em; margin-bottom: 2%; color: rgb(63, 142, 191);}
.corpo-clinico #main{position: relative; margin-top:15%; left: 30%;}
.corpo-clinico div{height: 250px; width: 150px; position: absolute; transition: all .5s;}
.corpo-clinico #side1{transform: translateX(0px) scale(1.5); z-index: 99;}
.corpo-clinico #side2{transform: translateX(-100px); z-index: 9; opacity: 0.5;}
.corpo-clinico #side3{transform: translateX(100px); z-index: 9; opacity: 0.5;}
.corpo-clinico #pre{ height: 30px; width: 30px; background: rgb(0, 117, 154); font-size: 2em; color: #fff;
    text-align: center; line-height: 30px; position: absolute; margin-top:-15%;  left: 10%; z-index: 888;}
.corpo-clinico #pre:hover{ cursor: pointer;}
.corpo-clinico #nex{ height: 30px; width: 30px; background: rgb(0, 117, 154); font-size: 2em; color: #fff;
    text-align: center; line-height: 30px; position: absolute; margin-top:-15%;  right: 10%; z-index: 888;}
.corpo-clinico #nex:hover{ cursor: pointer;}
.desc{text-align: left; margin: 20% 0% 10% 0%; height: 200px;}
.desc .item{width: 100%; margin-left: 10%;}
.desc h3{color: rgb(0, 117, 154); font-size: 1.3em; font-weight: 400;}
.desc h5{color: rgb(40, 171, 201);}

/* NOTICIAS */
.noticias{background: rgb(241, 245, 249);}
.noticias h4{font-size: 1.4em; margin-top: 10%}
.noticias h1{font-size: 2.5em; margin-bottom: 2%; color: rgb(63, 142, 191);}

.noticias .noticia{background: #fff; width: 80%; height: 330px; margin: 5% auto 5% auto;}
.noticias .noticia .data{width: 65px; height: 65px; border: 3px solid #fff; border-radius: 100%; 
    background: rgb(40, 171, 201); position: absolute; right: 10%; margin-top: -10%; color: #fff; text-align: center;}
.noticias .noticia .data p:nth-child(1){font-size: 1.2em; margin-top: 2px;}
.noticias .noticia .descricao{ text-align: left; margin: 5% 0% 0% 5%; width: 70%; color: rgb(40, 171, 201);
    font-size: 1.1em;}
.noticias button{background: rgb(0, 117, 154); color: #fff; padding: 4% 4%; font-size: 1.3em; margin-bottom: 10%;}

/* MAPA */
.mapa{width: 100%; height: 400px;}

/* FOOTER */
footer div{color: #fff; text-align: center; font-size: 1.3em; padding: 5% 4%;}
footer div i, .estacionamento img{margin: 2% 0% 5% 0%;}
.endereco{background: rgb(0, 117, 154);}
.endereco i{font-size: 3em;}
.cliquetel{background: rgb(40, 171, 202); }
.cliquetel i{font-size: 4em;}
.estacionamento{background: rgb(0, 117, 154);}
.logo-rodape{width:100%; background: url("../res/logo.png") center no-repeat; padding: 20%;}
.logo-rodape p{display: none;}
.summer-logo{background: url("../res/summer-logo.png") rgb(40, 171, 202) center no-repeat; width: 100%; padding:10%; }

/* AGENDAR CONSULTA */
.agendar{ display: none; background: rgb(40, 171, 201); position: fixed; 
    top: 20%; width: 100%; height: 100%; color: #fff; z-index: 9999;}
.agendar h1{font-size: 1.5em; color: #fff; margin-top: 10%;}
.agendar .form-input{background: rgba(0, 0, 0, 0); color: #fff; width: 90%; margin: 7% 3%; display: block; 
    border-bottom: 1px solid #fff;}
.agendar .form-input option{background: rgb(40, 171, 201);}
.agendar button{background: rgb(0, 117, 154); color: #fff; padding: 4%; font-size: 1.3em; margin-bottom: 10%;}
.agendar textarea#mensagem{display: none;}

@media screen and (min-width: 480px) {
    .btn-agenda, .btn-contato, .btn-open-menu
    { padding: 7% 3% 10% 3%; }
    .logo{margin-left: 10%;}
    .menu-hidden{font-size: 1.5em;}
    .menu-hidden li{margin: 2% 4% 2% 10%;}
    .menu-hidden div.item-menu{margin: 1% 0%;}
    .menu-hidden .sociais{margin-top: 1%;}
    .banner{margin-top: -10%;}
    .clinica{margin-top: -18%;}
    .title{margin-left: 3%}
    .title h4{margin-top: 30%;}
    .pre, .nxt{margin-top: 10%;}
    .corpo-clinico #main{left: 38%}
    .noticias .noticia{width: 50%;}
    .noticias .noticia .data{right: 25%; margin-top: -20px;}
    footer div{padding: 3%;}
    .agendar h1{ margin-top: 5%;}
    .agendar .form-input{ margin: 5%;}
    .agendar button{padding: 2% 4%;}
}

@media screen and (min-width: 768px){
    .btn-agenda, .btn-contato, .btn-open-menu
    { padding: 5% 3% 7% 3%; }
    .title h4{margin-top: 20%;}
    .noticias .noticia{width: 33%;}
    .noticias .noticia .data{right: 33%; margin-top: -20px;}
    .especialidades .slider .slide label h4{margin: 2%;}
    .especialidades .slider .slide label{margin-bottom: 3%;  margin-left: 10% }
    .agendar h1{margin-top: 3%;}
    .agendar .form-input{ margin: 3%;}  
}

@media screen and (min-width: 1024px){
    .menu-hidden{font-size: 1.2em;}
    .banner{margin-top: 10%;}
    .title{margin-left: 13%;}
    .title h4{margin-top: 15%;}
    .noticias .noticia{width: 40%;}
    .noticias .noticia .data{right: 30%; margin-top: -20px;}
    .pre, .nxt{margin-top: 5%;}

    .clinica{margin-top: -10%;}

    /* ESPECIALIDADES */
    .especialidades h4{font-size: 1.4em; margin-top: 3%}
    .especialidades h1{font-size: 2.5em; margin-bottom: 2%;}
    .especialidades .slider figure{ width: 700%; animation: 20s animacao infinite; text-align: left;}
    .especialidades .slider .slide label{margin-bottom: 3%;  margin-left: 15% }
    .especialidades .slider .slide label#esp3{margin-left: 13%;}
    .especialidades .slider .slide label h4{margin: 2% 0%;}
    .especialidades .slider .slide .content{width: 30%; margin-left: 20%; float: left;}
    .especialidades .slider .slide .content h1{ font-size: 1.4em; font-weight: 600; margin-top: 0%;}
    .especialidades .slider .slide .content ul {margin-top: 5%; text-align: left;}
    .especialidades .slider .slide .principal{margin-left: 10%; width: 20%;}

    /* CORPO CLINICO */
    .corpo-clinico{padding-bottom: 5%;}
    .corpo-clinico h4{ margin-top: 3%}
    .corpo-clinico #main{position: relative; margin-top:5%; margin-left: 20%; left: 0;}
    .corpo-clinico #pre, .corpo-clinico #nex{ margin-top: 0%;}
    .corpo-clinico #pre{left: 50%;}
    .corpo-clinico #nex{right: 40%;}
    .desc{text-align: left; margin: -25% 0% 10% 40%; float: right; width: 50%; }
    .desc .item{width: 45%; margin-left: 50%;}
    .desc h3{color: rgb(0, 117, 154); font-size: 1.3em; font-weight: 400;}
    .desc h5{color: rgb(40, 171, 201);}
    .owl-stage-outer{overflow: hidden;}

    /* NOTICIAS */
    .noticias h4{ margin-top: 3%;}
    .noticias .cards{ margin-left: 10%;}
    .noticias .noticia{ width: 25%; margin: 2%; float: left;}
    .noticias .noticia .data{ position: relative; margin-left: 90%; margin-top: -10%;}
    .noticias .noticia .descricao{ width:90%; margin: 0% 10%;}
    .noticias button{padding: 1% 2%; margin-bottom: 3%;}

}

@media screen and (min-width: 1280px) {
    /* MENU */

    .logo{margin-left: 10%;}
    .btn-agenda, .btn-contato, .btn-open-menu
    { display:none; }
    .menu-hidden .sociais{display: none;}
    .menu-hidden{display: inline-flex !important; width: 50%; height: 80px; font-size: 1em;
        background: #fff; top:30%; color: #000; right: 10%; border-top: 1px solid #ccc;}
    .menu-hidden div.item-menu{border-bottom: none; margin: 0% 2%;}
    .menu-hidden div.item-menu:hover{border-top: 1px solid rgb(40, 171, 201);}
    .menu-hidden li{margin: 5% 4% 3% 0%; cursor: pointer}
    .menu-hidden li a:hover{color: rgb(40, 171, 201);}
    .menu-hidden li a{color: #000; margin-right: 0%; }
    
    /* BANNER */
    .banner{margin-top: 0;}
    .title{margin-left: 12%;}
    .title h4{margin-top: 15%;}

    /* CLINICA */
    .clinica{margin-top: -12%; padding-bottom: 5%;}
    .clinica h4{margin-top: 3%;}
    .clinica p{width: 70%; margin: 2% auto;}
    .clinica .slider{margin-top: -2%;}
    .clinica .slider h1{font-size: 1.5em;}
    .clinica .slider figure {width: 120%; margin-left: 3%;}
    .clinica .slider figure div{width: 18%; float: left; margin-right: 2%;}
    .clinica .slider figure div p{width: 100%; margin: auto;}
    .clinica .slider .controls{display: none;}

    /* GALERIA */
    .pre, .nxt{margin-top: 5%;}
    .pre{left: 18%;}
    .nxt{right: 18%;}
    
    /* AGENDAR */
    .agendar{ display: flow-root !important; left:10%; position: relative; margin-top: -400px;  width: 40%; height: 400px; background: #fff;}
    .agendar h1{text-align: left; color: rgb(40, 171, 201);; margin: 3% 5%;}
    .agendar .form-input{ color: #aaa; width: 40%; margin: 3% 5%; float: left; border-bottom: 1px solid #aaa;}
    .agendar .form-input option{background: #fff;}
    .agendar button{background: rgb(0, 117, 154); color: #fff; padding: 2% 3%; margin-top: 5%;}
    .agendar textarea#mensagem{display: initial; width:90%; resize: none; background: url("../res/caderno.png"); font-size:21px;}

    ::-webkit-input-placeholder { color: #aaa; } 
    /* Firefox 18- */
    :-moz-placeholder { color: #aaa; }
    /* Firefox 19+ */
    ::-moz-placeholder { color: #aaa; }
    :-ms-input-placeholder { color: #aaa; }
    
    /* FOOTER */
    footer div .footer-info{margin: 2% 5%;}
    footer div .footer-info p{margin: 2% 20%; font-size: 0.7em; text-align: left; width: 100%;}
    .endereco, .cliquetel, .estacionamento{color: #fff; width: 33.28%; float: left; height: 200px; 
        background: rgb(0, 117, 154); padding: 2%;}
    footer div i, .estacionamento img{margin: 2% 0% 0% 0%; float: left;}
    .endereco i{font-size: 2em;}
    .cliquetel i{font-size: 2.5em;}
    .estacionamento img{width: 50px;}
    .logo-rodape{width:100%; background: url("../res/logo.png") center no-repeat; padding: 5%;}
    .logo-rodape p{ display: initial; color: #000; float: left; font-size: 0.8em;}
    .summer-logo{background: url("../res/summer-logo2.png") #fff center no-repeat; width: 33%; float: right; 
        padding:5%; margin-top: -10%;}
}